@import "~frontend-scss-mixins/mixins";
@import "../base/mixins";
@import "../base/variables";
@import "../base/media-queries";


.group-numbers {
  padding-top: 80px;

  @include tablet-big-screen {
    padding-top: 40px;
  }

  &__title {
    margin-bottom: 50px;

    @include tablet-big-screen {
      margin-bottom: 30px;
    }
  }

  &__items {
    //display: grid;
    //grid-gap: 20px;

    &--1 {
      grid-template-columns: repeat(1, 1fr)
    }

    &--2 {
      grid-template-columns: repeat(2, 1fr)
    }

    &--3 {
      grid-template-columns: repeat(3, 1fr)
    }

    &--4 {
      grid-template-columns: repeat(4, 1fr)
    }

    &--5 {
      grid-template-columns: repeat(5, 1fr)
    }

    &--6 {
      grid-template-columns: repeat(6, 1fr)
    }

    &--7 {
      grid-template-columns: repeat(7, 1fr)
    }

    &--8 {
      grid-template-columns: repeat(8, 1fr)
    }

    &--9 {
      grid-template-columns: repeat(9, 1fr)
    }

    &--10 {
      grid-template-columns: repeat(10, 1fr)
    }

    @include tablet-big-screen {
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
    }

  }

  &__item {

  }

  &__item-inner {
    box-shadow: 0 0 13px -4px rgba(0, 0, 0, .3);
    text-align: center;
    margin: 15px;
    height: 220px;
    padding: 5px;
    @include flex-column-center;

    @include tablet-big-screen {
      padding: 5px;
    }
  }

  &__item-number {
    @include font-manrope;
    font-size: 70px;
    font-weight: 700;

    @include tablet-big-screen {
      font-size: 30px;
    }
  }

  &__item-text {
    @include font-calibri;
    font-size: 25px;

    @include tablet-big-screen {
      font-size: 14px;
    }
  }
}
