@import "~frontend-scss-mixins/mixins";
@import "../base/mixins";
@import "../base/variables";
@import "../base/media-queries";

.title {
  @include font-manrope;
  font-weight: 700;
  color: var(--blue-color);
  font-size: 3.52vw;
}
