@import "~frontend-scss-mixins/mixins";
@import "../base/mixins";
@import "../base/variables";
@import "../base/media-queries";

.img-text-block {

  &__block {
    padding-top: 80px;
  }

  &__title {
    margin-bottom: 25px;
  }

  &__item {
    display: grid;
    grid-template-columns: 7fr 6fr;
  }

  &__item-desc {
  }

  &__item-desc-text {
    @include font-calibri;
    font-size: 28px;
    margin-bottom: 25px;
  }

  &__button {
    @include flex-row-center;
    @include font-manrope;
    background: var(--green-color);
    color: var(--white-color);
    font-size: 28px;
    padding: 7px 40px;
    width: fit-content;
  }

  &__img-wrapper {
    width: 100%;
  }

  &__img {
    width: 100%;
    height: auto;
    display: block;
  }
}
