@import "~frontend-scss-mixins/mixins";
@import "../base/mixins";
@import "../base/variables";
@import "../base/media-queries";

.img-text-block {

  &__block {
    padding-top: 80px;
  }

  &__title {
    margin-bottom: 25px;

    @include tablet-big-screen {
      margin-bottom: 10px;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: 7fr 6fr;

    @include tablet-big-screen {
      display: block;
    }
  }

  &__item-desc {
  }

  &__item-desc-text {
    @include font-calibri;
    font-size: 28px;
    margin-bottom: 25px;

    @include tablet-big-screen {
      font-size: 18px;
      margin-bottom: 15px;
    }
  }

  &__button {
    @include flex-row-center;
    @include font-manrope;
    background: var(--green-color);
    color: var(--white-color);
    font-size: 28px;
    padding: 7px 40px;
    width: fit-content;

    @include tablet-big-screen {
      padding: 10px 20px;
      font-size: 18px;
    }
  }

  &__img-wrapper {
    width: 100%;

    @include tablet-big-screen {
      display: none;
    }
  }

  &__img {
    width: 100%;
    height: auto;
    display: block;
  }
}
