@import "~frontend-scss-mixins/mixins";
@import "../base/mixins";
@import "../base/variables";
@import "../base/media-queries";


.img-block {
  position: relative;

  $small: '.img-block--small';

  &__background-wrapper {
    position: absolute;
    @include absolute-fill;

    &:after {
      @include pseudo-absolute;
      @include absolute-fill;
      @include gradient-magenta(-75);
      mix-blend-mode: overlay;

      #{$small} & {
        display: none;
      }
    }
  }

  &__background {
    @include absolute-fill;
    object-fit: cover;
  }

  &__block {
    position: relative;
    z-index: 1;
    padding-top: 84px;
    height: calc(100vh - 350px);

    #{$small} & {
      padding-top: 150px;
      height: calc(100vh - 150px);
    }
  }

  &__title-wrapper {
    color: var(--white-color);
    @include font-manrope;
  }

  &__title {
    font-size: 102px;
    line-height: 82px;
    font-weight: 700;
    filter: drop-shadow(3px 2px rgba(0, 0, 0, 0.5));

    @include tablet-big-screen {
      font-size: 50px;
      line-height: 1em;
    }
  }

  &__subtitle {
    font-size: 51px;
    filter: drop-shadow(3px 2px rgba(0, 0, 0, 0.5));

    @include tablet-big-screen {
      font-size: 30px;
      line-height: 1em;
    }
  }

  &__button {
    @include flex-row-center;
    @include font-manrope;
    background: var(--green-color);
    color: var(--white-color);
    position: absolute;
    bottom: -58px;
    right: -15px;
    font-size: 34px;
    padding: 35px 121px;

    @include tablet-big-screen {
      padding: 10px 20px;
      font-size: 18px;
      right: 0;
    }

    #{$small} & {
      position: static;
      font-size: 38px;
      padding: 10px 54px;
      width: fit-content;
      margin-top: 76px;

      @include tablet-big-screen {
        padding: 10px 20px;
        font-size: 18px;
      }
    }
  }

  &__geometry {
    position: relative;

    #{$small} & {
      transform: translateY(-30vh);
    }

    @include tablet-big-screen {
      display: none;
    }
  }

  &__geometry-elem {
    background: var(--white-color);
    position: absolute;
    opacity: .5;


    @keyframes rotate {
      0% {
        transform: rotate(0);
      }
      50% {
        transform: rotate(180deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }


    &--1 {
      width: 172px;
      height: 132px;
      right: 267px;
      top: -15vh;
      mask: url(../../../../images/triangle.svg);
      -webkit-mask: url(../../../../images/triangle.svg);
      @include mask-contain-center();
      transform: rotate(-18deg);
      animation: rotate 50s linear;

      #{$small} & {
        right: 90px;
        top: 9vh;
      }
    }

    &--2 {
      width: 120px;
      height: 120px;
      right: 82px;
      top: 0vh;
      mask: url(../../../../images/plus.svg);
      -webkit-mask: url(../../../../images/plus.svg);
      @include mask-contain-center();
      transform: rotate(-13deg);
      animation: rotate 60s linear;

      #{$small} & {
        right: 4px;
        top: 36vh;
      }
    }

    &--3 {
      width: 95px;
      height: 95px;
      right: 415px;
      top: 15vh;
      mask: url(../../../../images/square.svg);
      -webkit-mask: url(../../../../images/square.svg);
      @include mask-contain-center();
      transform: rotate(17deg);
      animation: rotate 70s linear;

      #{$small} & {
        right: 609px;
        top: 40vh;
      }
    }

    transform-origin: center;
    animation-iteration-count: infinite;
  }
}
